<ul style="height: 95vh;" class="nav flex-column pt-4 bg-success">
    <!-- <li class="nav-item">
      <a class="nav-link text-white" href="" routerLink="/customers"
       routerLinkActive="active" >
        <i class="fas fa-user"></i>
        <span class="ml-3">Customers</span>
      </a>
    </li> -->

    <li class="nav-item">
      <div class="nav-link text-white"
       (click)="goTo('customers')"
       style="cursor: pointer">
        <i class="fas fa-user"></i>
        <span class="ml-3">Customers</span> </div>
    </li>
      


    <li class="nav-item">
      <!-- <a class="nav-link text-white" href="" routerLink="/contacts"
      routerLinkActive="active">
        <i class="fas fa-envelope"></i>
        <span class="ml-3">Contacts</span>
      </a> -->
      <div class="nav-link text-white"
       (click)="goTo('contacts')"
       style="cursor: pointer">
        <i class="fas fa-envelope"></i>
        <span class="ml-3">Contacts</span> </div>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fas fa-shopping-cart"></i>
        <span class="ml-3">Leads</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fas fa-signal"></i>
        <span class="ml-3">Reports</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fab fa-stack-exchange"></i>
        <span class="ml-3">Integrations</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fas fa-bell"></i>
        <span class="ml-3">Year-end sale</span>
      </a>
    </li>
  </ul>
  