<app-header [headerTitle]="headerTitleParent"
[headerIcon]="headerIconParent"
[headerDescription]="headerDescriptionParent"
></app-header>
<div class="row">
    <div class="col-12">
        <form (ngSubmit)="saveChanges()" [formGroup]="formGroup"  >

        <div class="row">
            
            <div class="col-md-5 mb-3">
                <label for="customerfirstName">
                    <span class="text-danger" >*</span>
                First Name</label>
                <input
                formControlName="firstName"
                class="form-control"
                 [ngClass]="{'is-invalid': formGroup.get('firstName')?.errors
                 && formGroup.get('firstName')?.dirty}"
                 id="firstName"
                 type="text"
                >
                <div  
                [hidden]="!formGroup.get('firstName')?.errors?.required"
                class="invalid-feedback">
                First Name is required
                </div>
                <div
                [hidden]="!formGroup.get('firstName')?.errors?.minlength"
                  class="invalid-feedback">
                  Name min length have to be more than 1 char
                </div>
                  

            </div>

            <div class="col-md-5 mb-3">
                <label for="customerlastName">
                    <span class="text-danger" >*</span>
                Last Name</label>  
                <input
                class="form-control "
                formControlName="lastName"
                [ngClass]="{'is-invalid': formGroup.get('lastName')?.errors
                && formGroup.get('lastName')?.dirty}"
              
                 id="lastName"
                 type="text"
                >
                <div  
                [hidden]="!formGroup.get('lastName')?.errors?.minlength"
                class="invalid-feedback">
                Last Name is required
                </div>
                <div
                [hidden]="!formGroup.get('lastName')?.errors?.minlength"
                  class="invalid-feedback">
                  Last Name min length have to be more than 1 char
                </div>
            </div>

            <div class="col-md-5 mb-3">
                <label for="customeremail">
                    <span class="text-danger" >*</span>
                Email</label>  
                <input
                class="form-control "
                formControlName="email"
                 [ngClass]="{'is-invalid': formGroup.get('email')?.errors 
                 && formGroup.get('email')?.dirty}"
                 id="email"
                 type="email"
                >
                <div  
                [hidden]="!formGroup.get('email')?.errors?.required"
                class="invalid-feedback">
                email is required
                </div>
                <div  
                [hidden]="!formGroup.get('email')?.errors?.email"
                class="invalid-feedback">
                email is not email
                </div>

            </div>


            <div class="col-md-5 mb-3">
                <label for="customerphone">
                    <span class="text-danger" >*</span>
                Phone</label>  
                <input
                class="form-control "
                formControlName="phone"
                 [ngClass]="{'is-invalid': formGroup.get('phone')?.errors 
                 && formGroup.get('phone')?.dirty}"
                 id="phone"
                 type="tel"
                >
                <div  
                [hidden]="!formGroup.get('phone')?.errors?.required"
                class="invalid-feedback">
                phone is required
                </div>
                <div  
                [hidden]="!formGroup.get('phone')?.errors?.pattern"
                class="invalid-feedback">
                phone is not  phone
                </div>

            </div>

        </div>

        <div  formArrayName="hobbies">
            <button class="btn" type="button"
            (click)="addHobbies()">
                <i class="fas fa-plus"></i> Add hobbies
             </button>
            <div class="row" formGroupName='{{i}}'
             *ngFor="let item of hobbiesArr;let i = index">
                <div class="col-md-2 mb-3">
                    <label for="Name">Name</label>
                    <input formControlName="Name" class="form-control" id="name" type="text" />
                </div>
                <div class="col-md-2 mb-3">
                    <label for="hoursPerWeek">Hours/Week</label>
                    <input formControlName="hoursPerWeek" class="form-control" id="hoursPerWeek" type="number" />
                </div>
                <div class="col-md-2 mb-3">
                    <label for="Description">Description</label>
                    <input formControlName="Description" class="form-control" id="Description" type="text" />
                </div>
                <div class="row col-md-2 mb-3">
                  
                    
                    <button class="btn btn-danger" 
                    (click)="deleteHobbies(i)">
                        <i class="fas fa-trash"></i> 
                     </button>
                </div>
            </div>
            
        </div>

        
        <div class="row">
            <div class="col-md-10 mb-3">
                <label for="customerbirthday">Birthday</label>
                <input  class="real-date"
                formControlName="birthday"
                onfocus="(this.type='date')"
                placeholder=""
                id="customeBirthday"
                class="form-control"
                  >
                </div>
        </div>

         <div class="row">
            <div class="form-group row col-lg-6">
                <label class="col-3 col-form-label"  for="customerSxs" >Gender</label>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" 
                    formControlName="isGuy"
                    type="radio"
                      id="male" 
                      value="true"
                      >
                    <label class="form-check-label" for="customerSxs">Male</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input"
                    formControlName="isGuy"
                     type="radio"
                       id="female"
                        value="false"
                        >
                    <label class="form-check-label" for="customeSxs">Female</label>
                  </div>
              </div>
            </div>

            
       


            <div formArrayName="address">
                    <span for="customeAddress"> address</span>
                     <br/>
                    
                    <div class="row"  >
                        <div class="col-md-2 mb-3">
                            <label for="city">City</label>
                            <input  formControlName="city"  class="form-control" id="city" type="text" />
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="street">Street</label>
                            <input formControlName="street" class="form-control" id="street" type="text" />
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="building">Building </label>
                            <input formControlName="building" class="form-control" id="building" type="text" />
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="zipcode">zip code</label>
                            <input formControlName="zipcode" class="form-control" id="zipcode" type="number" />
                        </div>
                    </div>
            
            </div>
                
        



        <div class="row">
            <div class="col-md-10 mb-3">
                <label for="customeNote">Note</label>
                <textarea
                formControlName="notes"
                 rows="8" 
                 cols="30"
                 type="text"
                id="customeNote"
                class="form-control">
                </textarea>
                </div>
        </div> 
        
       

         <div class="fixed-button bg-light p-3 text-center">
             <a href="" routerLink=".." class="btn btn-secondary">Cancel</a>
             <a  class="btn btn-info" (click)="onClear()">Clear</a>
             <input
             [disabled]="formGroup.invalid"
              class="btn btn-primary" 
              name="submit" 
              type="submit" 
              value="Save"
              
              >
         </div>

        </form>
        <strong>pay attention: {{ formGroup.value.firstName }}</strong><br>
        <i>Form valid: {{ formGroup.valid }}</i>
        <p>Form Status: {{ formGroup.status }}</p>

    </div>
</div>






